


body {
    margin: 0;
    padding: 0;
}

#main-2 {
    background-color: lab(97.23% 0.01 -0.01);
    margin: 0%;
    padding: 0%;
}
#navbar {
    background-color: hsl(0, 0%, 88%);

    display: flex;
    justify-content: space-between;

    width: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  gap: 10px; /* Espaço entre os quadrados */
}

.quadrado {
  width: 100px; /* Largura */
  height: 100px; /* Altura igual à largura para formar quadrado */
  background-color: blue;
}