
body {
    margin: 0;
    padding: 0;
}

#main-2 {
    background-color: lab(97.23% 0.01 -0.01);
    margin: 0%;
    padding: 0%;
}
#navbar {
    background-color: hsl(0, 0%, 88%);

    display: flex;
    justify-content: space-between;

    width: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  display: flex;
   /* Espaço entre os quadrados */
   gap: 10px;
}

.quadrado-1 {
  width: 500px; /* Largura */
  height: 250px; /* Altura igual à largura para formar quadrado */
  background-color: rgb(199, 199, 255);
  display: flex;
}
.quadrado-2{
    width: 250px; /* Largura */
  height: 250px; /* Altura igual à largura para formar quadrado */
  background-color: rgb(199, 199, 255);
}

.quadrado img{
    width: 100%;
    height: 100%;
}
.p1{
    font-size: 25px;
    color: rgb(35, 35, 255);
    font-family: arial;
    text-align: center;
}