
#main-1{
    background-color: rgb(210, 233, 250) ;
    margin: 50px;
}

#primeira_div{
    display: flex;
}

#robo{
    background-color:rgb(217, 232, 243);
}
#textos_ao_lado_robo{ 
    text-align: center;
    color:blue
    
}
#navbar {
    background-color: #c5c5c5;

    display: flex;
    justify-content: space-between;

    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.p1{
    font-family: 
}

