
#main-1{
    background-color: rgb(190, 190, 255) ;
    margin: 50px;
}

#primeira_div{
    display: flex;
}

#textos_ao_lado_robo{ 
    text-align: center;
}


body {
    margin: 0;
    padding: 0;
}

#main-2 {
    background-color: lab(97.23% 0.01 -0.01);
    margin: 0%;
    padding: 0%;
}
#navbar {
    background-color: hsl(0, 0%, 88%);

    display: flex;
    justify-content: space-between;

    width: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}